.about {
    color: var(--text-dark);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-block: 120px;
}

.about-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-img {
    flex-basis: 45%;
    height: 600px;
    background-image: url('../../images/about.jpg');
    background-size: cover;
    background-position: center;

}

.about-content {
    flex-basis: 43%;
    padding: 0 100px;
}

.about-title {
    margin-top: 0;
    font-size: 45px;
    font-weight: normal;
    /* color: #fff; */
}

.about-txt {
    margin-top: 0;
    padding-bottom: 20px;
}

@media (max-width: 850px) {
    .about {
        padding: 0 50px;
    }
    
    .about-content {
        padding: 0 30px;
    }

    .about-title {
        font-size: var(--fs-m-title);
    }

    .about-txt {
        font-size: var(--fs-m-txt);
    }
}

@media (max-width: 600px) {
    .about-container {
        display: block;
    }

    .about-img {
        height: 300px;
    }

    .about-title {
        padding-top: 50px;
        font-size: var(--fs-s-title);
        font-weight: bold;
    }

    .about-txt {
        font-size: var(--fs-s-txt);
    }

    .about {
        margin-bottom: 5em;
    }
}