/*---------- Roots -----------/
----------------------------*/

:root {
  /* colors */
  --bg-light: #ffe7e0;
  --bg-lighter: #fffce1;
  --bg-dark: #0c1622;
  --bg-brown: #3b1d0f;
  --text-dark: #080e16;
  
  --cta: #ff3300;
  --cta-hover: #f13000;
  --accent: #ff3300;
  --gray: #818a91;
  --light-gray: #dddddd;
  --yellow: #fab437;
  
  /* font-size */
  --fs-xl: 2.8rem;

  /* font-family */
  --font-title: 'Poppins', sans-serif;
  --font-body: 'Poppins', sans-serif;
}

@media screen and (max-width: 1000px){
  :root {
    --fs-xl: 2.5rem;
  }
}

@media screen and (max-width: 600px){
  :root {
    --fs-xl: 2rem;
  }
}

@media screen and (max-width: 400px){
  :root {
    --fs-xl: 1.8rem;
  }
}

/*---------- Global Styling -----------/
-------------------------------------*/

*, *::after, *::before {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  letter-spacing: 0.012rem;
}

body {
  font-family: var(--font-body);
  margin: 0;
  padding: 0;
  min-height: 100%;
}

h1 {
  text-align: center;
  font-family: var(--font-title);
}

h3 {
  font-size: 1.2rem;
}

p, a, button, input {
  font-size: 1.1rem;
}

@media screen and (max-width: 1000px){
  p, a, button, input {
    font-size: 1rem;
  }
}

img {
  max-width: 100%;
}

hr {
  opacity: .2;
}

a {
  text-decoration: none;
}

input, button, select {
  transition: all .1s linear;
}

/*---------- Main Layouts -----------/
-----------------------------------*/

/* Pages */

.home,
.recipes,
.services,
.contact,
.order {
  max-width: 1000px;
  margin: 0 auto;
}

/* margin-block in Home Page*/

.why,
.about-section,
.services-section,
.community,
.testimonial {
  margin: 100px 0;
} 

/* About Page */

.about {
  max-width: 1000px;
  margin: 0 auto;
}

/* Services Page */

@media screen and (max-width: 999px) {
  .services {
    padding: 3em;
  }
}

@media screen and (max-width: 600px) {
  .services {
    padding: .5em;
  }
}


/*---------- Buttons -----------/
------------------------------*/

/* Order Button */

.order-btn {
  text-decoration: none;
  padding: 6px 20px;
  background-color: var(--cta);
  color: #fff;
  border-radius: 20px;
  align-self: start; 
  font-size: 1.3rem;
  transition: all .1s linear;
}

.order-btn:hover {
  background-color: var(--cta-hover);
}

/* Add To Card Button */

.add-cart-btn {
  padding: 6px 20px;
  background-color: var(--cta);
  color: #fff;
  font-size: 1rem;
  border: none;
  cursor: pointer;
}

.add-cart-btn:hover {
  background-color: var(--cta-hover);
}

