.contact {
    width: 100%;
} 

.contact-container {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
}

.contact-container div {
    flex-basis: 50%;
    height: 500px;
}

.contact-title {
    font-size: var(--fs-xl);
    font-weight: normal;
    padding-block: 1.25em;
}

.contact-txt {
    font-size: 1.125rem;
    max-width: 400px;
    margin: 0 auto;
    font-style: italic;
}

.contact-form {
    display: flex;
    flex-direction: column;
    max-width: 500px;
}

.contact-form label {
    margin-bottom: .625em;
    font-size: 1.1rem;
} 

.contact-form input {
    margin-bottom: 1.875em;
    height: 40px;
    outline: none;
    text-indent: 5px;
    font-size: 1.1rem;
} 

.input-contact-message {
    padding: .3125em;
    font-size: 1.1rem;
    outline: none;
}

.contact-btn {
    cursor: pointer;
    font-family: inherit;
    padding: 7px;
    width: 100%;
    font-weight: bold;
    border: none;
    display: block;
    margin-inline: auto;
    background-color: var(--cta);
    color: #fff;
    text-transform: uppercase;
    margin-top: 2em;
    font-size: 1rem;
    transition: all .1s linear;
}

.contact-btn a {
    text-decoration: none;
}

.contact-btn:hover {
    background-color: var(--cta-hover);
}

@media (max-width: 850px) {
    .contact {
        padding: 0 5em;
    }

    .contact-container {
        justify-content: space-around;
    }

    .contact-container div {
        flex-basis: 43%;
    }
}

@media (max-width: 600px) {
    .contact {
        padding: 0;
        padding-inline: .5em;
    }

    .contact-container {
        flex-direction: column;
    }

    .contact-form {
        margin: 0 auto;
    }

    .contact-title {
        margin-bottom: 0;
    }
    
    .contact-txt {
        font-size: var(--fs-s-txt);
        margin-bottom: 1.25em;
    }

    .contact-form label {
        padding-top: 1.25em;
    } 
    
    .contact-form input {
        margin-bottom: 0;
    } 

    .contact-btn {
        margin-top: 1.875em;
        margin-bottom: 3.125em;
    }
}