.contact {
    width: 100%;
} 

.contact-container {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
}

.contact-container div {
    flex-basis: 50%;
    height: 500px;
}

.contact-title {
    font-size: 45px;
    font-weight: normal;
    padding-block: 40px;
}

.contact-txt {
    font-size: 18px;
    max-width: 400px;
    margin: 0 auto;
    font-style: italic;
}

.contact-form {
    display: flex;
    flex-direction: column;
    max-width: 500px;
}

.contact-form label {
    margin-bottom: 10px;
    font-size: 1.1rem;
} 

.contact-form input {
    margin-bottom: 30px;
    height: 2.5rem;
    outline: none;
    text-indent: 5px;
    font-size: 1.1rem;
} 

.input-contact-message {
    padding: 5px;
    font-size: 1.1rem;
    outline: none;
}

.contact-btn {
    cursor: pointer;
    font-family: inherit;
    padding: 7px;
    width: 100%;
    font-weight: bold;
    border: none;
    display: block;
    margin-inline: auto;
    background-color: var(--cta);
    color: #fff;
    text-transform: uppercase;
    margin-top: 2em;
}

.contact-btn:hover {
    background-color: var(--cta-hover);
}

@media (max-width: 850px) {
    .contact {
        padding: 0 5em;
    }

    .contact-container {
        justify-content: space-around;
    }

    .contact-container div {
        flex-basis: 43%;
    }
}

@media (max-width: 600px) {
    .contact {
        padding: 0;
        padding-inline: 1rem;
    }

    .contact-container {
        flex-direction: column;
    }

    .contact-form {
        margin: 0 auto;
    }

    .contact-title {
        font-size: var(--fs-s-title);
        font-weight: bold;
        margin-bottom: 0;
        /* padding-block: 40px; */
    }
    
    .contact-txt {
        font-size: var(--fs-s-txt);
        margin-bottom: 20px;
        /* max-width: 400px; */
        /* margin: 0 auto; */
        /* font-style: italic; */
    }

    .contact-form {
        font-size: var(--fs-s-txt);
    }

    .contact-form label {
        padding-top: 20px;
        /* font-size: 20px; */
    } 
    
    .contact-form input {
        margin-bottom: 0;
    } 

    .contact-btn {
        margin-top: 30px;
        margin-bottom: 50px;
    }
}