.footer-container {
    padding-bottom: 1.25em;
    border-top: 1px solid rgba(0, 0, 0, 0.185);
}

.footer-copyright {
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: var(--bg-dark);
    color: var(--gray);
}

.copyright-txt {
    font-weight: 300;
    padding-block: .625em;
}

/* Subscribe */

form.subscribe {
    width: 1100px;
    margin: 2em auto 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.subscribe-title {
    font-size: var(--fs-xl);
    margin: 0;
}

.input-subscribe {
    width: 300px;
    height: 50px;
    text-indent: 10px;
    font-size: 1rem;
    border: 1px solid var(--gray);
    outline: none;
}

.subscribe-btn {
    padding: .625em;
    width: 320px;
    height: 50px;
    font-size: 1rem;
    cursor: pointer;
    border: 1px solid var(--gray);
    background-color: #fff;
    color: var(--text-dark);
}

.subscribe-btn:hover {
    background-color: #f5f5f5;
}


.subscribe-btn:active {
    background-color: #eeeeee;
}

.error-message {
    color: red;
    text-align: center;
    padding: .5em;
}

.success-message {
    color: green;
    text-align: center; 
    padding: 1em;
}

/* Quick links */

.quick-links {
    width: 700px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.quick-links a {
    color: var(--text-dark);
    transition: all .1s linear;
}

.quick-links a:hover {
    color: #999999;
}

/* Social icons */

.social-icons {
    display: flex;
    padding-left: 0;
    justify-content: center;
    margin-top: 3em;
}

.social-icons li {
    margin-right: .625em;
}

.social-icons a {
    color: var(--gray);
    font-size: 1.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius:100%;
    -webkit-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear
}

.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
    color:#fff;
    background-color:#29aafe
}

.social-icons a.facebook:hover {
    background-color:#3b5998
}

.social-icons a.twitter:hover {
    background-color:#00aced
}

.social-icons a.linkedin:hover {
    background-color:#007bb6
}

.social-icons a.pinterest:hover {
    background-color:#ea4c89
}

/* Media Queries */

@media (max-width: 1100px) {
    form.subscribe {
        display: block;
        width: 600px;
        text-align: center;
    }

    .subscribe-title {
        margin-block: 1.25em;
    }

    .input-subscribe,
    .subscribe-btn {
        width: 300px;
    }

    .social-icons {
        margin-top: 3.125em;
    }
}

@media (max-width: 950px) {
    .subscribe-title {
    }
}

@media (max-width: 702px) {
    form.subscribe {
        display: flex;
        flex-direction: column;
    }

    .input-subscribe {
        margin-bottom: 1em;
    }

    .quick-links {
        display: inline;
        text-align: center;
    }

    .quick-links a {
        font-size: var(--fs-s-txt);
    }
}

@media (max-width: 600px) {
    .subscribe-title {
        /* font-size: var(--fs-s-title); */
    }

    form.subscribe {
        width: 350px;
    }

    .input-subscribe,
    .subscribe-btn {
        height: 40px;
    }
}

@media (max-width: 351px) {
    form.subscribe {
        width: 300px;
    }

    .subscribe-title {
        font-size: 1.8rem;
    }
}