.hero-container {
    background-color: var(--bg-light);
    color: var(--text-dark);
    width: 100%;
    height: 400px;
    position: relative;
    display: flex;
    align-items: center;
    padding-inline: 5rem;
}

.hero-content {
    display: flex;
    flex-direction: column;
    width: 40%;
}

.hero-title {
    margin-top: 0;
    text-align: start;
    font-size: 2.6rem;
    font-family: 'Poppins', sans-serif;
}

.hero-tag {
    color: rgb(118, 118, 118);
    font-weight: 500;
    font-size: 1.25rem;
}

.i-bg {
    clip-path: polygon(40% 0, 100% 0%, 100% 100%, 65% 100%);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    background-image: url('/src/images/i-hero.jpg');
    background-size: cover;
    background-position: center;
}

/* Wrapper */
ul li {
    list-style: none;
    font-weight: 400;
}

.wrapper {
    display: inline-flex;
    padding-block: 10px;
}

.static-txt {
    font-size: 35px;
    font-weight: 500;
    letter-spacing: 1.5px;
}

.dynamic-txt {
    padding: 0;
    margin: 0;
    margin-left: 10px;
    height: 52px;
    line-height: 52px;
    overflow: hidden;
    font-size: 35px;
    font-weight: 500;
    color: var(--cta);
    letter-spacing: 1.5px;
}

/* Media Queries */

@media screen and (max-width: 1066px) {
    .hero-container {
        height: 350px;
        padding-inline: 2rem;
    }

    .hero-content h1 {
        font-size: 2.5rem;
        margin-bottom: 0;
    }

    .hero-tag {
        font-size: 1rem;
    }

    .static-txt {
        font-size: 1.3rem;
    }

    .dynamic-txt {
        height: 30px;
        font-size: 1.3rem;
        line-height: 32px;
    }
}

@media screen and (max-width: 821px) {
    .hero-content h1 {
        font-size: 2rem;
    }
}

@media screen and (max-width: 760px) {
    .hero-content h1 {
        font-size: 2.3rem;
    }
}

@media screen and (max-width: 701px) {
    .i-bg {
        clip-path: none;
        height: 45%;
        background-position: top;
    }

    .dynamic-txt {
        height: 30px;
        line-height: 32px;
    }

    .hero-content {
        width: 100%;
        margin: 0 auto;
        position: absolute;
        left: 0;
        top: 45%;
        padding: 2em;
        justify-content: center;
    }

    .hero-content h1 {
        font-size: 2rem;
    }

    .hero-container {
        padding: 1em;
        height: 480px;
    }

    .hero-tag {
        padding-bottom: 1.25em;
    }

    .hero-tag {
        padding-bottom: 0;
    }
}

@media screen and (max-width: 510px) {
    .hero-content h1 {
        font-size: 1.8rem;
    }

    .hero-tag {
        padding-bottom: 1.3em;
    }

    .hero-container {
        height: 530px;
    }
}

@media screen and (max-width: 423px) {
    .hero-content h1 {
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 359px) {
    .hero-container {
        height: 600px;
    }
}