.community {
    color: var(--bg-dark);
}

.community-content {
    max-width: 600px;
    margin: 0 auto;
}

.community-title {
    font-size: var(--fs-xl);
    font-weight: normal;
}

.community-txt {
    margin-bottom: 3.125em;
}

.community-row1 {
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    position: relative;
    margin-bottom: 5em;
}

.community-img1 {
    max-width: 800px;
    height: 500px;
    background: url('../images/activity1.jpg');
    background-size: cover;
}

.community-row2 {
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.community-img2 {
    max-width: 800px;
    height: 500px;
    background-image: url('../images/activity2.jpg');
    background-size: cover;
    align-self: flex-end;
    width: 100%;
}

.sub-row {
    width: 400px;
    height: 250px;
    background-color: var(--bg-lighter);
    position: absolute;
    z-index: 2;
    padding: 1.875em;
}

.sub-row1 {
    align-self: flex-end;
    top: 25%;
}

.sub-row2 {
    top: 25%;
}

.sub-row h3 {
    font-size: 1.625rem;
    margin-top: 0;
}

.sub-row button {
    background-color: var(--cta);
    color: #fff;
    border: none;
    padding: 7px 30px;
    margin-top: 1em;
    border-radius: 2px;
    cursor: pointer;
}

.sub-row button:hover {
    background-color: var(--cta-hover);
}

.sub-row button a {
    text-decoration: none;
    color: #fff;
}

/* Media Queries */

@media screen and (max-width: 1100px) {
    .community {
        max-width: 730px;
        padding: 0 4.375em;
        margin: 100px auto;
    }

    .community-row1 {
        margin-bottom: 3.125em;
    }

    .community-img1,
    .community-img2 {
        max-width: 470px;
        height: 350px;
    }

    .sub-row {
        width: 250px;
        height: 180px;
        padding: 1.25em;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .sub-row h3 {
        font-size: 1rem;
        margin-bottom: 0;
    }

    .sub-row p {
        font-size: .8125rem;
        margin-bottom: 0;
    }

    .sub-row button {
        width: 150px;
    }
}

@media screen and (max-width: 690px) {
    .community-row1,
    .community-row2 {
        display: block;
        position: static;
        text-align: center;
        width: 300px;
        margin: 0 auto;
    }

    .community-img1,
    .community-img2 {
        width: 300px;
        height: 210px;
    }

    .sub-row {
        width: 100%;
        height: 200;
        position: static;
        margin-bottom: 3.125em;
    }

    .sub-row h3 {
        margin-bottom: 0;
    }

    .sub-row p {
        font-size: .8125rem;
        padding: 0 2em;
    }

    .services-container {
        margin: 0;
        width: 100%;
    }
}

@media screen and (max-width: 600px) {
    .community {
        padding: 0 .5em;
    }
}

@media screen and (max-width: 450px) {
    .community-txt {
        padding: 0;
    }

    .community-row1,
    .community-row2 {
        width: 240px;
    }

    .community-img1,
    .community-img2 {
        width: 240px;
        height: 140px;
    }

    .community-row1 {
        padding-top: 1.875em;
    }

    .sub-row {
        padding: .5em;
    }

    .sub-row p {
        padding: 0;
    }
} 

@media screen and (max-width: 321px) {
    .community {
        padding: 0;
    }
}