.recipes {
    background-color: #f7f7f7;
    max-width: 1000px;
    border-radius: 20px;
    margin-inline: auto;
    padding: 1.875em;
}

.search-box h1 {
    text-align: center;
    color: var(--accent);
    font-size: var(--fs-xl);
}

.recipes-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 1.25em;
}

.search-form {
    display: flex;
    justify-content: center;
    width: 100%;
}

.search-input {
    border-top-left-radius: 10px;
    width: 100%;
}

.search-form input {
    border: 1px solid #ebebeb;
    padding: .625em;
    font-size: 1rem;
    outline: none;
}   

.btn-search {
    width: 30%;
    border-top-right-radius: 10px;
    cursor: pointer;
}

.search-box {
    position: relative;
    width: 70%;
    margin: 0 auto;
}

/* Search Result */

.search-result {
    background-color: #fff;
    border: 1px solid #ebebeb;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.search-item p {
    margin-block: .3125em;
    margin-left: .625em;
}

.search-item {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--text-dark);
}

.search-item:hover {
    background-color: #d3d3d3;
}

.close-icon {
    position: absolute;
    right: 25%;
    transform: translateY(-29px);
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 1.2rem;
}

@media screen and (max-width: 600px) {
    .search-box {
        width: 100%;
    }
}

@media screen and (max-width: 345px){
    .close-icon {
        right: 72px;
    }
}

/* Recipe Card */

.recipe-card {
    width: 200px;
    background-color: #fff;
    margin: .625em;
    border-radius: 5px;
    padding-bottom: .625em;
}

.recipe-card-image {
    width: 100%;
}

.recipe-card-body {
    padding: .625em;
    text-align: center;
}

.category {
    color: #a1a1a1;
}

.recipe-btn {
    background-color: #fab437;
    color: #fff;
    padding: .625em;  
    border-radius: 10px;
    text-decoration: none;
}

.recipe-btn:hover {
    background-color: #f1aa2e; 
}

