.services-section {
    color: var(--text-dark);
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.services-title {
    font-size: var(--fs-xl);
    font-weight: normal;
    margin-top: 0;
}

.services-txt {
    margin-top: 0;
    padding-bottom: 1.25em;
}

.services-container {
    max-width: 800px;
    margin-inline: auto;
    /* To align the button.slick-arrow center */
    display: flex;
    flex-direction: column;
}

.carousel {
    width: 100%;
    max-width: 800px;
}

.card {
    position: relative;
    width: 100%;
    height: 450px;
    cursor: pointer;
}

.card-image {
    position: absolute;
    top: 10px;
    width: 100%;
    height: 100%;
    transition: all .6s;
}

.card-image:hover {
    transform: translateY(-70px);
}

.card-image > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    padding-inline: 3px;
}

.card-content {
    position: absolute;
    bottom: -70px;
    margin: 0 3px;
    text-align: center;
    background-color: var(--bg-dark);
    color: #fff;
    transition: all .6s;
}

/* Pop up the card-content when hover to card-image */
.card-image:hover + .card-content {
    opacity: 1;
    bottom: 0px;
}

.card-content p {
    padding: 0 5em;
    font-size: 1rem;
}

button.slick-arrow.slick-next::before,
button.slick-arrow.slick-prev::before {
    color: var(--bg-dark);
}

/* Media Queries */

@media screen and (max-width: 950px) {
    .services-container {
        width: 80%;;
    }

    .carousel {
        max-width: 600px;
    }

    .card-content {
        bottom: -95px;
    }

    .card-content p {
        padding: 0 1.25em;
    }

    .card-image:hover {
        transform: translateY(-95px);
    }

    .services-title {
        margin-top: 0;
    }
}

@media screen and (max-width: 700px) {
    .carousel {
        max-width: 500px;
    }

    .slick-list {
        height: 400px;
    }

    .card-content {
        bottom: -23px;
    }

    .card-content h3 {
        font-size: 1rem;
    }

    .card-content p {
        font-size: 13px;
    }

    .card-image:hover + .card-content {
        transform: translateY(-50px);
    }

    .card-image:hover {
        transform: translateY(-73px);
        /* -23px + -50px */
    }
}

@media screen and (max-width: 600px) {
    .carousel {
        max-width: 400px;
    }
    
    .slick-list {
        padding: 0 1.875em;
        height: 300px;
    }
    
    .card-image img {
        height: 250px;
    }

    .card-content {
        bottom: 65px;
    }

    .card-image:hover + .card-content {
        transform: translateY(-150px);
    }

    .card-image:hover {
        transform: translateY(-85px);
    }

    .card-content h3 {
        font-size: 15px;
    }

    .card-content p {
        font-size: 12px;
    }

    .services-container {
        width: 100%;
        padding: 0 .5em;
    }
}

@media screen and (max-width: 482px) {
    .carousel {
        max-width: 350px;
    }
    
    .slick-list {
        padding: 0 1.875em;
        height: 250px;
    }

    .card-content {
        bottom: 114px;
    }

    .card-image:hover + .card-content {
        transform: translateY(-200px);
    }

    .card-image:hover {
        transform: translateY(-86px);
    }
}

@media screen and (max-width: 417px) {
    .carousel {
        max-width: 260px;
    }
    
    .slick-list {
        padding: 0 .625em;
        height: 200px;
    }

    .card-image img {
        height: 200px;
    }

    .card-content {
        bottom: 145px;
    }

    .card-image:hover + .card-content {
        transform: translateY(-250px);
    }

    .card-image:hover {
        transform: translateY(-101px);
    }

    .card-content h3 {
        font-size: 13px;
        margin-block: .625em;
    }

    .card-content p {
        font-size: .625rem;
    }
    

}

@media screen and (max-width: 400px) {
    .services-container {
        margin: 0;
        width: 100%;
    }
} 

@media screen and (max-width: 321px) {
    .services-container {
        padding: 0;
    }

    .carousel {
        max-width: 220px;
    }

    .slick-list {
        padding: 0;
        height: 150px;
    }

    .card-content p {
        display: none;
    }
    
    .card-image:hover {
        transform: translateY(0);
    }
}