#vegan {
    margin-bottom: 10em;
}

.vegan__panel {
    width: 100%;
    min-height: 300px;
    background-color: var(--bg-dark);
    background-image: linear-gradient(#0000007e 0%, #0000008e 100%), url('/src/images/vegan1.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}

.vegan__panel h1 {
    font-size: 2.4rem;
}

.vegan__intro {
    margin-block: 5em;
    display: flex;
    justify-content: space-between;
}

.vegan__intro__left {
    flex-basis: 46%;
    max-width: 500px;
}

.vegan__intro__left h2 {
    /* font-size: 2rem; */
}

.vegan__intro__left p a {
    color: var(--cta);
    font-weight: 600;
    transition: all .1s linear;
}

.vegan__intro__left p a:hover {
    color: var(--cta-hover);
    text-decoration: underline;
}

.vegan__intro__right {
    flex-basis: 48%;
    
}

.vegan__intro__right img {
    width: 100%;
    max-width: 500px;
}

/* Vegan Items */

.vegan__items {
    /* margin: 0 10em; */
}

.veganItem {
    max-width: 1000px; 
    margin: 0 auto;
    /* gap: 1.5rem; */
}

.veganItem-grid {
    display: grid;
    gap: .25rem;
    grid-template-columns: repeat(auto-fit, minmax(13rem, 1fr));
}

.veganItem__card {
    border: 1px solid var(--light-gray);
    padding: 1em;
}

.veganItem__card ul {
    padding: 0;
}

.veganItem__card ul h5 {
    margin: 0;
    color: green;
    font-weight: 400;
}

/* Media Queries */

@media screen and (max-width: 718px) {
    .vegan__intro {
        flex-direction: column;
    }

    .vegan__intro__left {
        max-width: 100%;
    }
    
    .vegan__intro__left h2 {
        margin-top: 0;
    }

}