.why {
    color: var(--text-dark);
}

.why-container {
    display: flex;
    justify-content: space-evenly;
}

.why-container div {
    width: 300px;
    height: 350px;
    text-align: center;
    background-color: var(--bg-lighter);
    padding: 1em;
    margin: .5em;
    border-radius: 5px;
    box-shadow: rgba(173, 173, 173, 0.24) 0px 3px 8px;
}

.why-container div img {
    height: 100px;
}

.why-container div a {
    color: var(--text-dark);
    transition: all .2s linear;
    text-decoration: underline;
}

.why-container div a:hover {
    color: var(--gray);
}

.why-title {
    font-size: var(--fs-xl);
}

/* Media Queries */

@media screen and (max-width: 770px) {
    .why-container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
