.testimonial {
    /* padding: 50px; */
    padding-top: 50px;
    padding-bottom: 110px;
    color: #fff;
}

.testimonial-container {
    display: flex;
    justify-content: space-evenly;
    flex-shrink: 0;
}

.testimonial-container div {
    /* flex-basis: 20%; */
    margin: .5em;
    width: 300px;
    text-align: center;
    background-color: #ffad87;
    /* padding: 30px; */
    border-radius: 5px;
}

.testimonial-title {
    font-size: 40px;
    color: var(--text-dark);
    padding-bottom: 20px;
}

/* Media Queries */

@media (max-width: 850px) {
    .testimonial-container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .testimonial-container div {
        margin: 10px;
        padding: 0;
    }

    .testimonial-title {
        font-size: var(--fs-m-title);
    }

    blockquote {
        font-size: var(--fs-m-txt);
    }
}

@media (max-width: 600px) {
    .testimonial-title {
        font-size: var(--fs-s-title);
    }

    blockquote {
        font-size: var(--fs-s-txt);
    }

    .testimonial-container div {
        margin-top: 2em;
        padding: 10px 0;
    }
}
