*, *::after, *::before {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  min-height: 100%;
}

/* Roots */
:root {
  /* colors */
  --bg-light: #ffeccb;
  --bg-lighter: #fffac7;
  --bg-dark: #080e16;
  --text-dark: #080e16;
  
  --cta: #ff3300;
  --cta-hover: #f13000;
  --accent: #ff3300;
  --accent-gray: #818a91;
  /* color of elements in Why Choose LeFood */
  /* color: #d43d3d; */
  /* color: #ffad87; */

  /* font-size */
  --fs-m-title: 2rem;
  --fs-m-txt: 1rem;
  --fs-s-title: 1.375rem;
  --fs-s-txt: 15px;
} 

hr {
  opacity: .2;
}

